In [1]:
# 步骤1 导入必要的库
import pandas as pd

In [2]:
# 将数据集存入一个名为chipo的变量中
chipo = pd.read_csv('./data/快餐数据.tsv', sep = '\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# 步骤7 打印出全部的列名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

- order_id: 订单id
- quantity: 数量
- item_name: 项目名称
- choice_description: 选择与描述
- item_price: 项目价格

#### 下单数最多商品(item)是什么?

In [6]:
chipo[['item_name','quantity']].groupby(['item_name']).sum()

                                       quantity
item_name
6 Pack Soft Drink                            55
Barbacoa Bowl                                66
Barbacoa Burrito                             91
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Barbacoa Soft Tacos                          25
Bottled Water                               211
Bowl                                          4
Burrito                                       6
Canned Soda                                 126
Canned Soft Drink                           351
Carnitas Bowl                                71
Carnitas Burrito                             60
Carnitas Crispy Tacos                         8
Carnitas Salad                                1
Carnitas Salad Bowl                           6
Carnitas Soft Tacos                          40
Chicken Bowl                                761
Chicken Burrito                             591
Chicken Crispy Tacos                         50
Chicken Salad                                 9
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Crispy Tacos                                  2
Izze                                         20
Nantucket Nectar                             29
Salad                                         2
Side of Chips                               110
Steak Bowl                                  221
Steak Burrito                               386
Steak Crispy Tacos                           36
Steak Salad                                   4
Steak Salad Bowl                             31
Steak Soft Tacos                             56
Veggie Bowl                                  87
Veggie Burrito                               97
Veggie Crispy Tacos                           1
Veggie Salad                                  6
Veggie Salad Bowl                            18
Veggie Soft Tacos                             8

In [7]:
chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

In [21]:
# 通常，pandas中的groupby（）方法在调用完毕之后，会将by之后的列修改为index
# 该参数是控制groupby方法是否需要将列作为新的index。默认是True，
# 为了达到上述目的，我们只需要将其设置为False即可
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()
#降序 替换原数据
c.sort_values(['quantity'],ascending=False,inplace=True)
c

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

### 在item_name这一列中，一共有多少种商品被下单？

In [9]:
chipo['item_name'].nunique()

50

### 在choice_description中，下单次数最多的商品是什么？

In [22]:
# value_counts() 函数可以对Series里面的每个值进行计数并且排序
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

#### 总下单数？

In [11]:

total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

 ####  将item_price转换为浮点数?

In [12]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [13]:
# 
chipo['item_price'] =chipo['item_price'].str.strip('$').astype(float)

In [14]:
#dollarizer = lambda x: float(x[1:-1])
# chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [15]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

## Series.apply()
pandas 的 apply() 函数可以作用于 Series 或者整个 DataFrame，功能也是自动遍历整个 Series 或者 DataFrame, 对每一个元素运行指定的函数

#### 在该数据集对应的时期内，收入(revenue)是多少?

In [16]:
#round为保留几位小数
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

#### 在该数据集对应的时期内，一共有多少订单？

In [17]:
chipo['order_id'].nunique()

1834

#### 每一单(order)对应的平均总价是多少？

In [25]:
chipo[['order_id','sub_total']].groupby(by='order_id').sum()['sub_total'].mean()

21.394231188658654

In [19]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).sum()['sub_total'].mean()

21.394231188658654

#### 一共有多少种不同的商品被售出？

In [20]:
chipo['item_name'].nunique()

50